body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f4f4ef;
}

.navbar {
  background: #fff;
  color: rgb(69, 162, 228);
  font-size: 32px;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.navbar h2 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: 'Roboto',sans-serif;
}

.singleBox{
  background: white;
  float: left;
  width: 20%;
  /* height: 700px; */
  height: 50%;
  margin: 2px 0px 20px 40px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
  padding: 25px 15px 25px 15px;
  position: relative;
}
.formBackground{
  background: goldenrod;
  width: 300px;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top:0;
  left: 0;
}

div.loginContainer {
  background-color: white;
  margin: auto;
  margin-top: 200px;
  width: 300px;
  height: 350px;
  padding: 20px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
}

p.loginText {
  font-family: 'Roboto-thin', sans-serif;
}

input.loginInput {
  width: 90%;
}

button.loginButton {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 0.5rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;

}

/* h1{
  font-family: cursive;
} */

.uglyForm{
   position: fixed;
   left: 40%;
   top:40%;
}

.popup{
  background: yellow;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.imgBox{
  width:100%;
  max-height: 300px;
}

h4{
  /* white-space: nowrap;  */
    overflow: hidden;
    text-overflow: ellipsis;
}
.innerImgBox{
  max-width: 350px;
}

.lists-containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
}

.navigation {
  top: 0;
  left: 0;
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 10;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.navButton {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
}

#title {
  display: inline-block;
  position: relative;
  right: 1250px;
  letter-spacing: 5px;
}

#logo {
  height: 90px;
  width: 97px;
  border-radius: 50%;
  position: relative;
  right: 1270px;
}

.post-heading {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  color: white;
  word-wrap: break-word;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 40px #000000;
}

.post-button {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px 50px 10px 50px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
}

/* .filter0buttons {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
} */

select.filter-buttons {
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dbe2e8;
  line-height: 1rem;
  border-radius: 20px;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  word-wrap: break-word;
}

.post-button-containers {
  display: flex;
  justify-content: space-around;
}

#banner {
  height: 200px;
  background-color: black;
  /* z-index: 2; */
}

.banner-image {
  height: 200px;
  object-fit: cover;
}

.detail-button {
  background-color: white;
  float: left;
  margin: 10px;
  padding:10px 50px 10px 50px;
  font-family: 'Roboto,',sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  word-wrap: break-word;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 20px;
  position: absolute;
  left: 16%;
  top: 85%;
}
